
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Kontrol Paneli</title>
    <link href="~/Web/dist/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/AdminOneri/OneriGoruntule">Admin Kontrol Paneli</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" style="font-size:16px;">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="font-size:12px;">Menüler</div>
                        <a class="nav-link" href="/AdminOneri/OneriGoruntule">
                            <div class="sb-nav-link-icon"><i class="fas fa-thin fa-file"></i></div>
                            Öneriler
                        </a>
                        <a class="nav-link" href="/AdminAnket/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-thin fa-folder-plus"></i></div>
                            Anket Oluştur
                        </a>
                        <a class="nav-link" href="/AdminAnket/AnketListele">
                            <div class="sb-nav-link-icon"><i class="fas fa-thin fa-bars"></i></div>
                            Anket Listesi
                        </a>
                        <a class="nav-link" href="/KullaniciAnketSonuclar/Listele">
                            <div class="sb-nav-link-icon"><i class="fas fa-solid fa-chart-bar"></i></div>
                            Anket Sonuçları
                        </a>
                        <a class="nav-link" href="/Oneri/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-thin fa-backward"></i></div>
                            Öneri/Anket Sayfasına Git
                        </a>
                        <a class="nav-link" href="/Login/CikisYap">
                            <div class="sb-nav-link-icon"><i class="fas fa-thin fa-ban"></i></div>
                            Çıkış Yap
                        </a>

                        @*<div class="sb-sidenav-menu-heading">Addons</div>*@

                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid" style="margin:10px;">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Web/dist/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Web/dist/assets/demo/chart-area-demo.js"></script>
    <script src="~/Web/dist/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Web/dist/assets/demo/datatables-demo.js"></script>
</body>
</html>
