@model ibrasOneriAnket.Models.Oneri
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2 style="margin:25px 25px 25px 35px;">Lütfen Önerinizi Giriniz: </h2>


<form method="post"  id="fr1" style="margin:15px; font-size:19px;">
    <div style  ="padding-top: 15px;" class="c1" >
        @Html.HiddenFor(x => x.Id)

        <div style="padding-top:10px;padding-bottom:10px; height:350px; height:350px;">
            <div style="width: 45%; margin-left:15px; float:left;">
                <label style="margin-bottom:12px;">Mevcut Durum: </label><br />
                <textarea class="form-control" cols="20" id="MevcutDurum" name="MevcutDurum" rows="15"></textarea>
            </div>
            <div style="width: 45%;float:right;margin-right:19px; ">
                <label style="margin-bottom:12px;">Öneriniz: </label><br />
                <textarea class="form-control" cols="20" id="OneriMesaj_" name="OneriMesajı" rows="15"></textarea>           
            </div>
        </div><br /><br />
            <button id="btnGonder" class="btn btn-success" style="font-size: 28px;  margin-bottom:10px; margin-left:13px; border-radius: 25px 25px; " onclick="myFunction()">Gönder</button>
    </div>
</form>


<style>

    #fr1 {
        background: #176891;
        width:
    }
    label {
        /*background-color: #4e4e4e2e;*/
        background-color: #5cb85c;
        color: white;
        padding:8px;
        padding:5px;
        border-radius:13px;
    }
</style>
