@using (Html.BeginForm("Index", "Oneri", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @TempData["result"] //Dosya upload sonucu burada yazacak.
    <div>
        <input type="file" name="file" class="button" />
    </div>
}