
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/Content/minFiles/css.css" rel='stylesheet' type='text/css'>
    <link href="~/Content/minFiles/normalize.min.css" rel="stylesheet" />
    <link href="~/Content/minFiles/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/minFiles/default_thank_you.css" rel="stylesheet" />
    <script src="~/Content/minFiles/jquery-1.9.1.min.js"></script>
    <script src="~/Content/minFiles/html5shiv.js"></script>
</head>
<body>
    <header class="site-header" id="header">
        <h1 class="site-header__title text-center" data-lead-id="site-header-title" id="para"></h1>
    </header><br /><br>




    <footer class="site-footer" id="footer">
        <p class="site-footer__fineprint" id="fineprint"> ©2022 | Created By Yiğit Tanyel</p>
    </footer>
</body>
</html>
<style>
    #para{
        text-align:center;
    }
</style>


<script>
    const para = document.getElementById("para");
    para.innerHTML ="İYİ GÜNLER DİLERİZ 👋"

    function myMessage() {
        window.location.href = "/Login/GirisYap";
    }

    setTimeout(myMessage, 5000);


</script>