@model int
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel='stylesheet' type='text/css'>
    <link href="maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
</head>
<body>
    <header class="site-header" id="header">
        <h4 class="site-header__title" data-lead-id="site-header-title" id="para">Dosya Ekle</h4><br />
        <hr />
        <h3>Not: Dosya eklemek için İbraş'a bağlı bir ağa bağlı olunmalıdır!</h3>
        <hr />
    </header>
    @*<i class="fas fa fa-check main-content__checkmark" id="checkmark"></i>*@

    <div class="container">
        <img src="@Url.Content("~/Uploads/BarcodeImage_" + Model + ".png")" />
    </div> <br />
    <div class="back" >
        <a href="/Anket/Soru/Index"  style="color:white;background-color:black;text-decoration:none;font-size:1.8em;display:inline;">Ankete Geri Dön  </a>
        <svg  style="color:white;background-color:black;text-decoration:none;font-size:1.8em;display:inline;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
    </div>

</body>
</html>

@*<script>
    const para = document.getElementById("para");
    para.innerHTML="Dosya Ekle"

    function myMessage() {
        window.location.href = "/Anket/Soru/Index"
    }

</script>*@